body {
  width:1280px;
  height: 1000px;
  margin: 0 auto;
  background-image: url("https://cdn3.vox-cdn.com/thumbor/wHxhv-dJn4itKsdqbWTqPlSwGto=/180x0:1872x952/1280x720/cdn0.vox-cdn.com/uploads/chorus_image/image/37251612/pokemon-list.0.0.png");
  background-position: center;
}
header {
  background-color: black;
  height: 150px;
}
.logo {
margin: 0;
position: relative;
bottom: 11px;
left: 11px
}

.title {
  margin-left: 320px;
}

li {
  display: inline;
font-size: 20px;

}
 a {
   text-decoration: none;
   padding: 10px;
 }
 ul {
   text-align: center;
   background-color: yellow;
   margin: 0;
   padding: 10px 0;
   font-weight: bold;
 }
a:hover{
  background-color: red;
}
.bio {
  width: auto;
  clear:left;
  padding: 10px;
  background-color: rgb(46, 196, 27);
  border-radius: 30px;
  margin: 10px auto;
}
div img {
  float: left;
  margin: 10px 0;
  border-radius: 30px
}
p {
  background-color: white;
  height: auto;
  font-size: 1.4em;
  text-indent: 50px;
  padding:inherit;
  margin: auto 0;
  border-radius: 30px
}
.charmander {
  margin-top: 0
}
