*{
  box-sizing:border-box;
}
body {
  width:1080px;
  height: 1000px;
  margin: 0 auto;
  background-image: url("http://orig09.deviantart.net/d4bf/f/2010/152/e/0/150_pokemon_v2_by_jen_jen_rose.png");
  background-position: top;
}
header {
  background-color: black;
  height: 150px;
}
.logo {
margin: 0;
position: relative;
bottom: 11px;
left: 11px
}

.title {
  margin-left: 320px;
}

li {
  display: inline;
font-size: 20px;

}
 a {
   text-decoration: none;
   padding: 10px;
 }
 ul {
   text-align: center;
   background-color: yellow;
   margin: 0;
   padding: 10px 0;
   font-weight: bold;
 }
a:hover{
  background-color: red;
}
sidebar {
  float:left;
  width:25%;
font-size: 1.1em;
background-color: #5b65ec;
border: 10px solid

}
.charmander-bio{
  width: 70%;
  border: 10px solid;
  margin: 0 auto auto auto;
  float: right;


}
.squirtle-bio {
  width: 70%;
  float: right;
  border: 10px solid;
  background-color: rgb(46, 196, 27);
  margin: 10px auto;
}
.bulbasaur-bio{
  width: 70%;
  float: right;
  border: 10px solid;
  background-color: green;
  margin: 10px auto 0 auto;
}

div img {
  float: left;
  margin: 5px 5px;
}
p {
  height: auto;
  font-size: 1.1em;
  text-indent: 50px;
  margin: auto 0;
    padding-bottom: 20px
}
.main-content{
  border-radius: 30px;
  display: inline-block;
  width: 1080px
}

.charmander-bio p {
  background-color: red
}
.squirtle-bio p {
  background-color: #5b65ec
}
footer {
  text-align: center;
  background-color: yellow;
  font-size: 30px;
margin: 200px auto auto auto;
width: 450px
}

footer img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 3px
}
 sidebar p {
   margin: 50px 30px
 }
